<div class="" id="properties">
    <p ng-show="environment.parent" translate="INHERITS_FROM" translate-values="{{environment}}"></p>

    <accordion close-others="false">
        <accordion-group ng-repeat="propertyGroup in environment.propertyGroups" is-open="true">
            <accordion-heading>
                {{propertyGroup.name}} <i class="pull-right glyphicon glyphicon-plus" title="{{ 'ADD_PROPERTY' | translate }}" ng-click="addProperty(propertyGroup)"></i>
            </accordion-heading>
            <ul class="nav nav-sidebar">
                <table class="table table-hover">
                    <tr ng-repeat="property in propertyGroup.allProperties">
                        <td width="30%"><a href="#" editable-text="property.key">{{ property.key || "empty" }}</a></td>
                        <td width="66%"><a href="#" editable-textarea="property.value" e-rows="4" e-cols="80">{{ property.value || "empty" }}</a></td>
                    </tr>
                </table>
            </ul>
        </accordion-group>
    </accordion>

    <button class="btn" id="addPropertyGroup" ng-click="addPropertyGroup()" translate="ADD_PROPERTY_GROUP"></button>
    <button class="btn btn-danger" id="deleteEnvironemnt" translate="DELETE_ENVIRONMENT"></button>
    <button class="btn" id="import" translate="IMPORT"></button>


</div>